/Proyecto_Final/nbproject/private/
/ejemploArchivo/nbproject/private/
/ejemploArchivo/build/
/ejemploLeerArchivo/nbproject/private/
/ejemploLeerArchivo/build/
/escribirArchivoConservando/nbproject/private/
/escribirArchivoConservando/build/
/archivoRegistroPorRegistro/nbproject/private/
/archivoRegistroPorRegistro/build/
/PruebaMVC/nbproject/private/
/PruebaMVC/build/
/ejemploLogin/nbproject/private/
/ejemploLogin/build/